{{!
@param Map<IRI, IRI> selector
@param IRI           target-graph
}}

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbq: <http://mynarz.net/db-quiz/ontology/>

WITH <{{target-graph}}>
DELETE {
  ?subject dbq:difficulty ?difficulty .
  ?difficulty ?p ?o .
}
WHERE {
  ?subject <{{selector.p}}> <{{selector.o}}> ;
    dbq:difficulty ?difficulty .
  ?difficulty ?p ?o .
}
